// ====================
// * _footer
// ====================

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 40px 20px;
  &__inner {
    width: 100%;
    max-width: $width-mid;
    margin: 0 auto;
  }
}

.footer__sns {
  display: flex;
  padding-bottom: 40px;
  &-svg {
  }
  &-fb {
    width: 20px;
    height: 20px;
    fill: $color-text-base1;
    transition: $transition-base;
    a:hover & {
      fill: $color-facebook;
    }
  }
  &-tw {
    width: 25px;
    height: 20px;
    margin-left: 16px;
    fill: $color-text-base1;
    transition: $transition-base;
    a:hover & {
      fill: $color-twitter;
    }
  }
}

.footer__copy {
  font-size: 13px;
  font-family: $font-family-mon;
  text-transform: uppercase;
  letter-spacing: 1px;
}


//= media query
@media #{$mq800} {
  .footer {
    padding: 64px 20px;
  }
}
