// ====================
// _setting
// ====================

//== font size
$font-size: 16px;

//== line height
$line-height: 1.7;

//== width
$width-max: 1920px;
$width-large: 1440px;
$width-mid: 1280px;
$width-small: 800px;
$width-min: 400px;

$width-page: 1000px;
$width-article: 1280px;

//== margin
$margin-base: 64px;
$margin-main: 80px;

$margin-base-tab: 32px;
$margin-main-tab: 40px;

$margin-base-sp: 16px;
$margin-main-sp: 20px;

//== animation
$transition-base: all .5s ease;
$transition-fast: all .2s ease;
